# Exclude virtual environment
.venv/

# exclude data from source control by default
/data/raw/

# exclude __pycache__ directories
/src/__pycache__/
/src/modeling/__pycache__/
/src/services/__pycache__/

# exclude output from source control by default
/output/